
<script src="{{path.js}}/modernizr.min.js" ></script>
<script src="{{path.js}}/device.min.js" ></script>

<link href="{{path.css}}/azbn7.css" rel="stylesheet" />

<script src="{{path.js}}/jquery.min.js" ></script>
<script src="{{path.js}}/jquery.azbn7.js" ></script>
<script src="{{path.js}}/document-ready-azbn7-mdls.js" ></script>
<script src="{{path.js}}/document-ready.js" ></script>








<!-- component template -->
<script type="text/x-template" id="grid-template">
	<table>
		<thead>
		  <tr>
			<th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }" >
				{{ key | capitalize }}
				<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'" ></span>
			</th>
		  </tr>
		</thead>
		<tbody>
			<tr v-for="entry in filteredData">
				<td v-for="key in columns">
					{{entry[key]}}
				</td>
			</tr>
		</tbody>
	</table>
</script>

<div id="demo">
	<form id="search">
		Search <input name="query" v-model="searchQuery">
	</form>
	<demo-grid
		:data="gridData"
		:columns="gridColumns"
		:filter-key="searchQuery">
	</demo-grid>
</div>

<script src="//unpkg.com/vue"></script>
<script src="{{path.js}}/vue-components.js" ></script>
<script src="{{path.js}}/vue-app.js" ></script>









<!--
<script src="//unpkg.com/vue"></script>
<script>
	window.module = {};
	window.vueComponents = {};
</script>
<script src="{{path.js}}/vue-components.js" ></script>

<div id="app">
	<div>
		{{ foo }}
		<simple></simple>
		<simple2></simple2>
	</div>
</div>

<script>
	new Vue({
		// Here you give your component to your vue instance
		components: window.vueComponents, 
		data() {
			return {
				foo : 'Hello'
			};
		},
		el : '#app'
	});
</script>
-->

<!--
<link href="{{path.css}}/azbn7-debug.css" rel="stylesheet" />
<link href="{{path.css}}/azbn7-live-edit.css" rel="stylesheet" />
<link href="{{path.css}}/azbn7-admin.css" rel="stylesheet" />
-->

[[azbntple tpl="/src/block/site/common/body/script/metrika.html" ]]

<script src="{{path.js}}/azbn7__marketing.js" ></script>